.image {
    height: 150px;
    width: 125px;
}

#pokemon {
    outline-color:green;
}

p{
    color: red;
    background-color: black;
}

body {
    color: blue;
    background: url(../images/pokemonstadium.jpg);
    background-size:  1000px;
    background-repeat : no-repeat;
    background-color: silver;
}

#battleWin {
    color:orange;
    background-color: black;
    
}

.battleHitCurrent {

    background-color: black;
    color: red;
}

#win {
    color: green;
    background-color: black;
}

#loss {
    color: yellow
}

.click {
    background-color: black;
}

/* * {
    background-color: silver;
} */